venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/
*.sqlite3
*.log
*.db
*.egg-info/
CMAPSS_ML_training.ipynb
pump_features_rul.csv
pump_rul_hrs.csv
temp.py
test.py
out/diagram
diagram.puml
synthetic_pump_data_long_life.csv
synthetic_pump_short_life.csv
synthetic_hydraulic_press_data_long_life.csv
synthetic_hydraulic_press_data_short_life.csv
synthetic_hydraulic_press_data_long_life.parquet
synthetic_hydraulic_press_data_short_life.parquet
filtered_analysis.txt
sensor_lifecycle_lookup.json
.ros_launch_pid
start_system.sh
*.tools/log_analysis/
master_log_analyzer.py
tests/
test/
tools/
logs/
logs_analysis_output/
